// Медиа-запросы 

//  до 1200px
@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__img
        height: 100%
        object-fit: cover
  .card
    max-width: 230px
    max-height: 230px
  .packages
    &-card
      &__abouthotel
        font-size: 13px
  .footer
    &__input
      flex-basis: 100%
  .packages
    &-card
      &__booking
        margin-top: 0
// — до 992px
@media (max-width: 992px)
  .container,
  .newsletter-wrap
    width: 700px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
      &__search
        margin-right: auto
        margin-left: auto
    &-menu
      font-size: 12px
      line-height: 15px
      padding-top: 22px
      padding-bottom: 22px
  .logo
    &__img
      width: 132px
  .form-search
    &__input
      width: 340px
    &__btn
      &:hover
        background-color: $active-color
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
  .hotel
    &-slider
      width: 100%
  .booking
    flex-direction: row
    &-card
      width: 340px
      height: 213px
      &__button
        padding-right: 0
        padding-left: 0
    &-map
      width: 340px
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrap
      flex-wrap: wrap
      min-height: 530px
      align-content: space-between
  .card
    min-width: 340px
    max-height: 255px
  .packages
    &-grid
      grid-template: 1fr 1fr 1fr / 1fr 1fr
      column-gap: 25px
      row-gap: 25px
    &-card
      &--active
        grid-column-start: span 2
  .footer
    padding: 60px 0 146px 0
    &__title
      &--inline
        font-weight: bold
        font-size: 27.75px
        line-height: 35px
    &__icon
      width: 30px
      height: 30px
    &__social
      &-links
        min-width: 131px
    &-wrap
      grid-template-columns: repeat(6, 1fr)
      row-gap: 45px
      column-gap: 20px
    &__input
      flex-basis: 48%
    &__logo
      width: 104px
      height: 120px
      grid-row: 1 / 2
      grid-column: span 2
    &-bottom
      &__info
        margin-left: 0px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-row: 4
        grid-column: span 5
  .modal
    &__dialog
      padding: 25px 60px
    &__input
      max-height: 40px
    &__message
      height: 100px
    &__button
      max-height: 40px
      padding: 0
    &__info
      font-size: 10px
      max-width: 82px
  .button
    &:hover
      background-color: $active-color
  .offer
    &:hover
      background-color: $active-color
  .navbar-menu__item
    a
      &:hover
        &::after
          width: 0%
  .breadcrumb-list__link
    a
      &:hover
        &::before
          width: 0%
// — до 768px
@media (max-width: 768px)
  .container,
  .newsletter-wrap
    width: 88%
  .navbar
    &-menu
      font-size: 12px
      line-height: 15px
      flex-direction: column
      align-items: center
      padding-top: 0
      &__item
        margin-bottom: 20px
        &_mobile
          &_visible
            display: block
    &--mobile
      &_fixed
        position: fixed
        width: 100%
        top: 0
        left: 0
        right: 0
        z-index: 99
    &-top
      &__user, &__search
        &_mobile
          &_hidden
            display: none
          // &_visible
          //   display: flex
    &-bottom
      display: none
      position: fixed
      height: 100%
      left: 0
      right: 0
      bottom: 0
      top: 70px
      padding-top: 30px
      &--visible
        display: block
        overflow: scroll
  body
    padding-top: 76px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      outline: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-main-color
  .user
    &_visible
      flex-direction: column
      color: $text-color
      font-weight: normal
      font-size: 14px
      line-height: 18px
    &__name
      margin-top: 10px
      margin-left: 0
  .logo
    &__img
      width: 100px
  .form-search
    &__input
      width: 250px
    &__btn
      width: 55px
    &_visible
      display: flex
  .hotel
    padding-bottom: 30px
    &-slider
      height: 350px
  .booking
    flex-direction: column
    min-height: 450px
    &-card
      width: 100%
    &-map
      width: 100%
  .newsletter
    &__title
      margin-bottom: 37px
    &-wrap
      flex-direction: column
      align-items: flex-start
  .reviews
    &__title
      font-size: 24px
      line-height: 30px
      text-align: center
    &-slider
      &__item
        padding: 0 30px 36px
        &:after, &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
  .activities
    &-wrap
      flex-wrap: wrap
      min-height: 1100px
      align-content: space-between
  .card
    min-width: 100%
    max-height: 255px
  .packages
    &-title
      font-size: 26px
    &-grid
      grid-template: 1fr 1fr 1fr/ 1fr 1fr
      column-gap: 20px
      row-gap: 20px
    &-card
      height: 400px
      &--active
        height: 400px
        grid-column-start: span 2
      &__description
        padding: 20px 20px 20px 24px
        &--active
          padding: 25px 20px 20px 30px
      &__img
        height: 220px
        &--active
          height: 100%
      &__title
        margin-bottom: 10px
        font-size: 16px
        &--active
          margin-bottom: 18px
          font-size: 18px
      &__abouthotel
        font-size: 11px
        margin-bottom: 22px
      &__guests
        height: 54px
        margin-bottom: 10px
        &--active
          height: 58px
          margin-bottom: 24px
      &__price
        font-size: 22px
      &__button
        font-size: 12px
        padding: 7px 22px
      &__canceledprice
        display: none
  .footer
    &__input
      flex-basis: 100%
    &__title
      &--inline
        font-weight: bold
        font-size: 18px
        line-height: 23px
    &__icon
      width: 36px
      height: 36px
    &__social
      &-links
        min-width: 130px
  .modal
    &__dialog
      width: 350px
      padding: 30px 40px
  .map
    background-image: url(../img/map768.jpg)
    background-position: center center
    background-size: cover
@media (max-width: 626px)
  .packages
    &-title
      font-size: 26px
    &-card
      &__guests
        &--active
          margin-bottom: 10px
  .map
    background-image: url(../img/map.jpg)
    background-position: center center
    background-size: cover
// — от 320 до 576px 
@media (min-width: 320px) and (max-width: 576px)
  .container
    width: 88%
  .logo
    &__img
      width: 100px
  .navbar
    &-top
      padding-top: 28px
      padding-bottom: 28px
  .hotel
    padding-top: 0
    padding-bottom: 30px
    &-wrap
      justify-content: space-between
    &-name
      flex-basis: 100%
    &-info
      &__text
        width: 100%
      &__offer
        order: -1
        margin-left: 0
      &__name
        margin-top: 10px
    &-slider
      height: 180px
      &__button
        width: 10px
        height: 10px
        &--next
          right: 6px
        &--prev
          left: 6px
  .rating
    display: none
  .stars
    flex-basis: auto
  .booking
    min-height: 420px
    &-card
      padding: 21px 26px
      height: 210px
      &__button
        padding: 9px
        font-size: 14px
        line-height: 19px
        margin-top: 20px
    &-map
      height: 172px
  .call-center
    font-size: 18px
    line-height: 25px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
    &-title
      font-size: 18px
      line-height: 23px
      &__strong
        font-size: 26px
        line-height: 33px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
      text-align: center
  .activities
    padding-top: 40px
  .packages
    padding-bottom: 60px
    &-title
      font-size: 24px
    &__title
      margin-bottom: 50px
    &-grid
      grid-template: 600px 1fr 1fr 1fr/ 1fr
      row-gap: 30px
    &-card
      height: 360px
      &__offer
        &--active
          font-size: 11px
          line-height: 15px
          padding: 5px 9px
      &__img
        width: 100%
        height: 190px
      &--active
        grid-column-start: span 1
        height: 600px
        flex-direction: column
  .footer
    padding: 60px 0 55px 0
    &-wrap
      grid-template-columns: 1fr
      column-gap: 0
      row-gap: 35px
      &--grid
        margin-bottom: 26px
    &__logo
      grid-row: 1
      grid-column: 1
      width: 121px
      height: 139.95px
    &__title
      &--inline
        margin-bottom: 8px
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        font-weight: bold
        font-size: 18px
        line-height: 23px
        display: flex
        flex-direction: column
        align-items: flex-start
    &__legal
      grid-row: 3
      grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 7
        grid-column: 1
      &-form
        grid-row: 8
        grid-column: 1
    &__form
      flex-direction: column
      align-items: flex-start
    &__input
      &-group
        min-height: 50px
        width: 100%
    &__message
      margin-bottom: 20px
      width: 100%
    &__info
      order: 1
      margin-bottom: 20px
      font-weight: normal
      margin-top: 0
    &__button
      order: 2
    &-bottom
      flex-direction: column
      &__info
        width: 100%
        padding-bottom: 35px
      &__img
        left: 0
  .modal
    &__dialog
      width: 300px
    &__info
      order: 1
      margin-top: 15px
      margin-bottom: 10px
    &__button
      min-width: 100%
      flex-basis: 100%
      margin: 0
      order: 2
  .thanks
    &-button
      width: 100%
@media (max-height: 421px)
  .modal
    &__dialog
      &--visible
        overflow: scroll
        height: 100vh
        border-radius: 0
